html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
  font-family: "Norse-Bold";
  src: url("/font/Norse-Bold.otf") format("opentype");
}

body {
  margin: 0;
}

.odin {
  position: relative;
  margin: 0;
  width: 32%;
  height: 100vh;
  background-image: url(/img/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  float: left;
}

.container {
  width: 300px;
  height: 100%;
  margin: auto;
  display: flex;
}

.ribbon {
  width: 100%;
  align-items: center;
  color: white;
  position: absolute;
  margin-top: 20vh;
  background-color: #00000080;
  height: 150px;
  font-family: "Norse-Bold";
}

.container > img {
  width: 5rem;
  height: auto;
  margin: auto 0 auto auto;
}

.container > h1 {
  font-size: 6rem;
  margin: auto auto auto 0;
}

.photo-credit {
  position: absolute;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px 0px;
  bottom: 0px;
}

.photo-credit > a {
  color: white;
}

.flex-container {
  background-color: #f9fafb;
  width: 68%;
  height: 100vh;
  float: right;
  display: flex;
  flex-direction: column;
}

.box {
  height: 100%;
}

.flex-one {
  background-color: #f9fafb;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.text-container {
  width: 90%;
  min-height: 50%;
}

.text-container > p {
  font-weight: bolder;
  font-size: 1.4rem;
}

.flex-two {
  background-color: white;
  box-shadow: 0 10px 20px -3px rgba(220, 221, 222, 255);
  z-index: 1;
}

.form-container {
  width: 90%;
  height: 100%;
  /* max-width: 700px; */
  margin: 0 auto;
}

.form-container > h3 {
  font-size: 1.4rem;
  color: #1f2937;
}

.form-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-box {
  width: calc(100% / 2 - 20px);
}

.input-box > label {
  font-weight: bolder;
}

.input-box > input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e5e7eb;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.input-box > input:focus {
  border-radius: 5px;
  border: 1px solid #4a7de2 !important;
}

.error {
  border-radius: 5px;
  border: 1px solid rgb(255, 20, 20) !important;
  background-color: rgb(243, 127, 127, 0.5);
}

.flex-three {
  background-color: #f9fafb;
  z-index: 0;
}
